@font-face {
  font-family: 'gilroy';
  src: url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700; /* Adjust this value according to your font */
  font-style: normal;
  font-display: swap;
  
}

@font-face {
  font-family: 'gilroy';
  src: url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500; /* Adjust this value according to your font */
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;

  font-family: 'gilroy', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;